# Java
*.class
*.log
*.jar
*.war

# Maven
target/

# IntelliJ
.idea/

# VS Code
.vscode/

# Node
node_modules/

# React
frontend/dist/

# Spring Boot
backend/target/

# H2
*.mv.db
*.trace.db

# Environment
.env

# OS
.DS_Store
Thumbs.db

*.md
*.txt
!/README.md
!frontend/public/robots.txt